
SECRET_KEY=django...

BASE_URL=http://localhost:8000

FRONTEND_BASE_URL=http://localhost:3000

DEBUG=True

ALLOWED_HOSTS=127.0.0.1,localhost

  

DATABASE_URL=postgresql://...

POSTGRES_USER=mydb

POSTGRES_PASSWORD=mypassword

POSTGRES_DB=db

  

EMAIL_HOST=smtp.example.com

EMAIL_HOST_USER=user@example.com

EMAIL_HOST_PASSWORD=isjgnsythwldovns

DEFAULT_FROM_EMAIL=grateful_for@no-reply.com

  

AWS_ACCESS_KEY_ID=...

AWS_SECRET_ACCESS_KEY=...

AWS_STORAGE_BUCKET_NAME=GratefulFor

AWS_S3_REGION_NAME=eu-central

AWS_ENDPOINT_URL=
